* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  padding: 20px;
  background-color: lightcoral;
  border: 1px solid;
}

.header {
  grid-area: header;
}
.articles {
  grid-area: articles;
}
.stats {
  grid-area: stats;
}
.sidebar {
  grid-area: sidebar;
}
.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh 70vh 20vh;
  gap: 10px;
  grid-template-areas: 
    'header header header header header header header header header header header header'
    'articles articles articles articles articles articles stats stats stats sidebar sidebar sidebar'
    'box1 box1 box2 box2 box3 box3 box4 box4 box5 box5 box6 box6';
}
