* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  border: 2px solid red;
  /* width: 800px; */
  width: 80vw;
  height: 40vh;
  margin: auto;
}

.container .box1 {
  width: 70%;
  /* background-color: lightblue; */
  height: 100px;
  float: left;
  border: 1px dashed green;
}

.container .box2 {
  width: 30%;
  background-color: lightpink;
  height: 100px;
  float: right;
}

.box3 {
  width: 30%;
  background-color: red;
  height: 150px;
}

.clr {
  clear: both;
}
